<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
    <h1 style="text-align:center;">Create Order</h1>
    <table style="margin: auto;">
        <tr>
            <td style="width: 100px; text-align: center; font-weight: bold;">
                <form th:action="@{/user}" method="get">
                    <div style="text-align: center">
                        <input  type="submit" value="Back to User page" />
                    </div>
                </form>
            </td>
            <td style="width: 100px; text-align: center; font-weight: bold;">
                <form th:action="@{/orders/save}" method="post">
                    <div style="text-align: center">
                        <input type="hidden" name="id" th:value="${order.getId()}" />
                        <input  type="submit" value="Save Order" />
                    </div>
                </form>
            </td>
    </table><br>
    <h2 style="text-align:center;">Meals in Order</h2>
    <table style="margin: auto;">
        <tr>
            <td style="width: 100px; text-align: center; font-weight: bold;">Meal ID</td>
            <td style="width: 150px; text-align: center; font-weight: bold;">Name</td>
            <td style="width: 700px; text-align: center; font-weight: bold;">Description</td>
            <td style="width: 100px; text-align: center; font-weight: bold;">Quantity</td>
        </tr>
    </table><br>
    <table style="margin: auto;" th:each="meal:${order.getMeals()}">
        <tr>
            <td style="width: 100px; text-align: center;" th:text="${meal.getKey().getId()}"></td>
            <td style="width: 150px; text-align: center;" th:text="${meal.getKey().getName()}"></td>
            <td style="width: 700px; text-align: left;" th:text="${meal.getKey().getDescription()}"></td>
            <td style="width: 100px; text-align: center;" th:text="${meal.getValue()}"></td>
        </tr>
    </table><br>
    <br>
    <h2 style="text-align:center;">Meals </h2>
    <table style="margin: auto;">
        <tr>
            <td style="width: 100px; text-align: center; font-weight: bold;">Meal ID</td>
            <td style="width: 150px; text-align: center; font-weight: bold;">Name</td>
            <td style="width: 700px; text-align: center; font-weight: bold;">Description</td>
            <td style="width: 100px; text-align: center; font-weight: bold;"></td>
        </tr>
    </table><br>
    <table style="margin: auto;" th:each="meal:${allmeals}">
        <tr>
            <td style="width: 100px; text-align: center;" th:text="${meal.getId()}"></td>
            <td style="width: 150px; text-align: center;" th:text="${meal.getName()}"></td>
            <td style="width: 700px; text-align: left;" th:text="${meal.getDescription()}"></td>
            <td style="width: 100px; text-align: center;" >
                <form th:action="@{/orders/add-meal}" method="post">
                    <div style="text-align: center">
                        <input type="hidden" name="order_id" th:value="${order.getId()}" />
                        <input type="hidden" name="meal_id" th:value="${meal.getId()}" />
                        <input  type="submit" value="Add" />
                    </div>
                </form>
            </td>
        </tr>
    </table><br>

</body>
</html>